@charset "UTF-8";
/* CSS Document */

ol, ul {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #FFC;
}
#content {
	width: 800px;
	text-align: center;
	background-color: #FFF;
}
#nav {
	width: 800px;
	background-color: #000;
	display: block;
	overflow: hidden;
}
#nav li, #footer a {
	float: left;
	padding: 6px;
	color: #FFF;
	background-color: #26659E;
	margin: 4px;
	font-family: Verdana, Geneva, sans-serif;
	list-style-type: none;
}
#nav a:link {
	text-decoration: none;
	color: #FFF;
}
#nav a:visited {
	text-decoration: none;
	color: #FFF;
}
#nav a:hover, #nav a:active {
	text-decoration: underline;
	color: #FFF;
}

#nav li:hover, #nav li:active {
	background-color: #0099CC;
}
#footer {
	width: 800px;
	background-color: #000;
	display: block;
	overflow: hidden;
	text-align: center;
}
#footer a {
	float: left;
	padding: 6px;
	color: #FFF;
	background-color: #26659E;
	margin: 4px;
	font-family: Verdana, Geneva, sans-serif;
	list-style-type: none;
}
#footer a:link {
	text-decoration: none;
	color: #FFF;
}
#footer a:visited {
	text-decoration: none;
	color: #FFF;
}

#footer a:hover, #footer a:active {
	text-decoration: underline;
	color: #FFF;
	background-color: #0099CC;
}
